{% extends 'sign/signup.html.twig' %}

{% block signup %}
<link rel="stylesheet" href="Back/css/style.css">
<style>
    /* Ajoutez vos styles CSS personnalisés ici */
    .register {
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    .form-container {
        max-width: 400px;
        width: 100%;
        padding: 30px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-title {
        color: #433e5b;
        text-align: center;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .btn-primary {
        background-color: #70952b;
        border-color: #70952b;
        color: #ffffff;
        font-weight: bold;
    }
</style>
<section class="section register">
    {% for message in app.flashes('message') %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
</section>

    <div class="row justify-content-center">
        <div class="col-md-6" style="margin-left:140px">
            <div class="card form-container">
                <div class="card-body">
                    <h1 class="form-title">Forgot Password</h1>
                    <hr class="si">
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    <div class="form-group">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email address'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

<hr>
</body>
</html>
{% endblock %}
