{% extends 'sign/signup.html.twig' %}

{% block signup %}
<link rel="stylesheet" href="Back/css/style.css">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<section class="section register ">
            {% for message  in app.flashes('message') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
        </section>
    <h1 style="color:#433e5b" >Forgot Password</h1>
    <hr class="si" >
    
  
   {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}


    <div class="form-group mb-3">
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email address'}}) }}
        {{ form_errors(form.email) }}
    </div>
   
   
    <button  href="/resetpassword" type="submit" class="btn btn-primary btn-block mb-4" style="background-color:#70952b ; border-color:#70952b">Send</button>
    {{ form_end(form) }}
    <hr>
  
   <script>
    document.getElementById('form').addEventListener('submit', function () {
        // Rafraîchit la page après la soumission du formulaire
        location.reload();
    });
</script>


{% endblock %}
