{% extends 'baseback.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reclamation.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>Dateajout</th>
                <td>{{ reclamation.dateajout ? reclamation.dateajout|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datemodif</th>
                <td>{{ reclamation.datemodif ? reclamation.datemodif|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
              <tr>
                <th>reponse</th>
                <td> {% for reponse in reponses %}
                </br>
                {{ reponse.description }}
                     {% else %}
            <tr>
                <td colspan="4">Aucun reponse trouvé</td>
            </tr>
        {% endfor %}</td>
            </tr>
            <tr>
                <th><a href="{{ path('app_reclamation_indexback') }}">Retour</a></th>
            </tr>
            <tr>
                <th>{{ include('reclamation/_deletef_form.html.twig') }}</th>
            </tr>
            
        </tbody>
    </table>

    

{% endblock %}
