{% extends 'base-back.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <style>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Protest+Strike&display=swap')
</style>
<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Permanent+Marker&family=Protest+Strike&display=swap')
</style>
<style>
  .card {
    border-color: transparent; /* Replace 'your-desired-color' with the color you want */
}
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
          <h2 style=" color:#0c4c77; font-family: Oswald, sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; margin-left:150px;">Update Event</h2>
            <div class="card">
                <div class="card-body">
                   
                    
                    {{ form_start(form , {'attr': {'novalidate':'novalidate'}} ) }}
                    <form class="forms-sample">
                      <div class="form-group">
                        {{ form_row(form.nameevent, {'label':' name' ,'attr':{'placeholder': 'name...', 'class':'form-control'}}) }}</div>
						<div class="form-group">
                        <div class="form-group">
                        {{ form_row(form.image, {'label':'image' ,'attr':{'placeholder': 'image...', 'class':'form-control'}}) }}</div>
                        {{ form_row(form.datedebut, {'label':'Start date' ,'attr':{'placeholder': '...', 'class':'form-control'}}) }}</div>
                        <div class="form-group">
                        {{ form_row(form.datefin, {'label':'End Date' ,'attr':{'placeholder': '...', 'class':'form-control'}}) }}</div>
						<div class="form-group">
                        {{ form_row(form.lieu, {'label':'place' ,'attr':{'placeholder': 'place...', 'class':'form-control'}}) }}</div>
						<div class="form-group">
                        {{ form_row(form.description, {'label':'descreption' ,'attr':{'placeholder': 'Descreption...', 'class':'form-control'}}) }}</div>
						<div class="form-group">
                        {{ form_row(form.type, {'label':'Type' ,'attr':{'placeholder': 'Type...', 'class':'form-control'}}) }}
						</div>
                        <div class="form-group">
                        {{ form_row(form.nbparticipant, {'label':'number of participants' ,'attr':{'placeholder': '00...', 'class':'form-control'}}) }}
						</div>
                       
						<div class="form-group">
                        {{ form_row(form.Sponsor, {'label':'Sponsor' ,'attr':{'placeholder': '...', 'class':'form-control'}}) }}
						</div>
                      
					 
                      <button type="submit" class="btn btn-primary mr-2" >Update</button>
                      <button  class="btn btn-outline-warning" ><a  href="/evenement/afficheback"></a>Back to list</button>
               <a href="{{ path('app_evenement_delete', {'id': evenement.id}) }}" class="btn btn-success">Delete</a>
                     {{form_end(form)}} 
                    </form>
 
                           <style>
    /* Update button */
    .btn.btn-primary {
        background-color: #007bff; /* Default blue */
        border-color: #007bff;
    }

    .btn.btn-primary:hover {
        background-color: #0056b3; /* Darker blue on hover */
        border-color: #0056b3;
    }

    /* Back to list button */
    .btn.btn-outline-warning {
        color: #275370; /* Default yellow */
        border-color: #89baeb;
    }

    .btn.btn-outline-warning:hover {
        color: #275370; /* Darker yellow on hover */
        border-color: #d39e00;
    }

    /* Delete button */
    .btn.btn-success {
        background-color: #05558a; /* Default green */
        border-color: #28a745;
    }

    .btn.btn-success:hover {
        background-color: #064b91; /* Darker green on hover */
        border-color: #218838;
    }
</style>                                                                                                      
       </div>
            </div>
        </div>
    </div>
</div>





  

    

    
{% endblock %}
