{% extends 'back/Base-back.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 style="color: Grey; font-size: 24px; font-weight: bold; text-align: center;">Create new User</h2>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-description">Form</h4>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="form-group">
                            {{ form_row(form.name, {'label': ' Name', 'attr': {'placeholder': 'name...', 'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.lastname, {'label': 'LastName', 'attr': {'placeholder': 'lastname...', 'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'email...', 'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.datenaissance, {'label': 'DateNaissance', 'attr': {'placeholder': 'datenaissance...', 'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.password, {'label': 'Paswword', 'attr': {'placeholder': ' password...', 'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.number, {'label': 'Number', 'attr': {'placeholder': 'number...', 'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.roles, {'label': 'Role', 'attr': {'placeholder': 'Role...', 'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group mb-3">
                            <img class="img-fluid" src="{{ asset('uploads/' ~ user.image) }}" alt="User Image" style="width: 300px; height: 400px;">
                        </div>
                        <div class="p-4">Contenu supplémentaire ici</div>
                        {{ form_row(form._token) }} 
                        <button type="submit" class="btn btn-primary mr-2">Ajouter User</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <a style="padding-top:10px;padding-left:450px;" href="{{ path('app_user') }}">back to list</a>
</div>
{% endblock %}
